<%-include("particals/head");%>
<title>活动界面-<%=activity.Name%></title>
</head>

<body>
   <div id="main">
       <%-include("particals/header");%>
       <div id="right" style="height:620px;">
           <h1 style="color: black;" style="padding-bottom: 100px;"><%=activity.Name%></h1>
           <hr>
           <p>开始时间：<%=activity.Start.substring(0,10);%> 结束时间：<%=activity.End.substring(0,10);%></p>
           <p>主办方：<a href="/group/grouppage?name=<%=activity.Group%>"><%=activity.Group%></a></p>
           <p>参加人数：<%=activity.Number%></p>
           <p>场地：<%=activity.Place%></p>
           <p>简介：<%=activity.Description%></p>        
       </div>
   </div>
   <%-include("particals/footer");%>
</body>
</html>